@import '../../../../../../../styles/looklook-theme/colors';
.questions-table {
    width: 100%;
    font-size: 1rem;
    thead {
        tr {
            th {
                padding-bottom: 5px;
            }
            th:nth-child(3) {
                text-align: center;
            }
        }
    }
    tr {
        th {
            text-align: left;
        }
        th:last-child {
            text-align: center;
        }
        td {
            max-width: 300px;
            padding: 10px 0;
            min-width: 120px;
            &.text-left {
                text-align: left!important;
            }
            &.text-center {
                text-align: center!important;
            }
            &.text-right {
                text-align: right!important;
            }
        }
        td:first-child {
            min-width: 25px;
        }
        td:last-child {
            min-width: 50px;
            text-align: center;
        }
        td:nth-child(2) {
            min-width: 250px;
            text-align: left;
        }
        td:nth-child(3) {
            text-align: center;
        }
        td:nth-child(3) {
            min-width: 100px;
            text-align: center;
        }
    }
    tr:first-child {
        td:last-child {
            .move {
                .up {
                    opacity: 0.2;
                    pointer-events: none;
                }
            }
        }
    }
    tr:last-child {
        td:last-child {
            .move {
                button:last-child {
                    opacity: 0.2;
                    pointer-events: none;
                }
            }
        }
    }
    .response_list {
        padding: 0;
        li {
            display: inline;
            list-style: none;
            img {
                width: 40px;
            }
        }
        .disabled {
            opacity: 0.5;
        }
        .active {
            opacity: 1;
        }
        .res-active {
            opacity: 1;
            cursor: pointer;
        }
        .res-disabled {
            opacity: 0.5;
            cursor: pointer;
        }
    }
    .question-action-area {
        .button {
            vertical-align: middle;
        }
        .dropdown {
            display: inline-block;
            width: 130px;
            padding-left: 5px;
            vertical-align: middle;
        }
    }
}

.table-with-add-question {
    tr:nth-last-child(2) {
        td:last-child {
            .move {
                button:last-child {
                    opacity: 0.2;
                    pointer-events: none;
                }
            }
        }
    }
}

.modal {
    max-width: 650px;
    .carousel {
        .slide {
            background: $body-background-color;
        }
    }
}

.transcribe-modal{
    min-height: 480px;
    .modal-footer{
        position: absolute;
        bottom: 35px;
        right: 16px;
    }
}