@import '../../../../styles/looklook-theme/colors';

.users-list {
    .user-table {
        width: 100%;
        border: 1px solid $medium-gray-color;
        border-collapse: collapse;
        border-radius: 10px;
        border-style: hidden;
        box-shadow: 0 0 0 1px $medium-gray-color;
        overflow: hidden;
        
        th {
            font-weight: normal;
            text-align: left;
            color: $black-color;
            background: $light-gray-color;
            padding: 10px 15px;
            span{
                cursor: pointer;
            }
            
            button {
                border: none;
                background: transparent;
                padding: 0;
            }
        }
        tr {
            border: 1px solid $medium-gray-color;
            td {
                padding: 10px 15px;
                max-width: 170px;
                overflow: hidden;
            }
            .status {
                text-align: center;
                button {
                    padding: 2px 2px;
                    width: 20px;
                    height: 20px;
                }
                .status-approved {
                    color: $success-color;
                }
                .status-denied {
                    color: $alert-color;
                }
            }
        }
        tr:nth-child(even){
            background: $lighter-gray-color;
        }
        tr:hover {
            background: $hover-color;
        }
        .clickable {
            cursor: pointer;
            color: $accent-blue-color;
            text-decoration: none;
        }
        .hide-profile {
            cursor: pointer;
            color: $alert-color;  
        }
        .Unhide-profile {
            cursor: pointer;
            color: $accent-blue-color; 
        }
    }
    .participant-nodata {
        margin-top: 10px;
    }
}