@import '../../../styles/looklook-theme/colors';

.print-participants-post {
    position: absolute;
    z-index: 9;
    top: 0;
    padding-top: 50px;
    background: $body-background-color;
    min-height: 100vh;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    overflow: hidden;
    .actions-container {
        .action-container-inner {
            max-width: 900px;
            margin: auto;
            text-align: right;
            button {
                margin: 0 3px;
            }
        }
    }
}

@media print {
    @page { margin: 1cm 0; }
    body { margin: 0.5cm 0; }
    .print-content {
        width: 750px;
        margin: auto;
    }
}