.welcome-text {    
    margin-bottom: 2rem;
    .title {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .display-image-container {
        img {
            max-width: 300px;
        }
    }
    .content {
        max-width: 1000px;
        margin: 0 auto;
        p {
            font-size: 1.25rem;
        }
    }
}
