@import './styles/looklook-theme/looklook-style.scss';
@import './styles/looklook-theme/colors';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $black-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white-color;
}

.App-link {
  color: $green-color;
}