@import '../../../../../../../styles/looklook-theme/colors';
@import '../../../../../../../styles/looklook-theme/looklook-style.scss';

.edit-topic-panel{
    .panel {
        position: relative;
        margin-bottom: 10px;
    }
    
    .tab .title {
        padding: 10px;
        background:  $body-background-color;
    }
    .adjust-top {
        margin-top: -5px;
    }
    .content{
        padding:10px;
        border: 1px solid $gray-color
    }

    textarea{
        height: 100%;
    }
    .topic-name-container {
        .container-left {
            width: 50%;
            float: left;
            .autosave {
                margin: 0;
                .heading {
                    color: $black-color;
                    font-weight: normal;
                    line-height:1;
                    margin-bottom: 0.5rem;
                }
            }
        }
        .container-right {
            float: left;
            width: 50%;
            padding-left: 1rem;
            padding-top: 1rem;
            .disabled {
                pointer-events: none;
                opacity: 0.4;
            }
            .switch-container{
                display: inline-block;
                vertical-align: middle;
                width:calc(100% - 60px); //move component width
                .switch {
                    margin-left: 1rem;
                }
            }
            .move {
                vertical-align: middle;
            }
            .fake-move {
                width: 50px;
                height: 70px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    .instruction-container {
        .container-left {
            .autosave {
                margin-top: 1rem;
                .heading {
                    color: $black-color;
                    font-weight: normal;
                    line-height:1;
                    margin-bottom: 0.5rem;
                }
            }
        }
        .container-right {
            float: left;
            width: 50%;
            .container-right-inner {      
                padding: 2.5rem 0 0 1rem;
                
                .dropdown-area {
                    > div {
                        margin-right: 1rem;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    .dropdown, .dropdown-multiselect {
                        float: left;
                        width: calc(50% - 0.5rem);
                        font-size: small;
                    }
                    .dropdown-multiselect {
                        button {
                            width: 100%;
                            border: 1px solid hsl(0,0%,80%);
                            border-radius: 5px;
                        }
                        .dropdown-list {
                            width: 300px;
                            .list-item {
                                .label {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    width: 240px;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    word-break: break-word;
                                    display: inline-block;                                
                                }
                            }
                        }
                    }
                }
                .delete {
                    margin-bottom: 1rem;
                }                
                .move {
                    margin-top: -20px;
                    margin-left: 30px;
                }
            }
        }
        .container-left {
            float: left;
            width: 50%;
        }
    }
    .delete {
        background: $alert-color;
    }
}
